@font-face {
    font-family: 'signika';
    src: url(/fonts/signika.woff2) format('woff2');
}

html {
  font-size: 16;
  /* importante volverlo a poner en HTML el nombre que nosotros hemos elegido en font face en amarillo */
  font-family: "signika", sans-serif;
  background-color: rgb(255, 236, 193);
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  color: #7e7e7e;
  /* para evitar que haga scroll down */
  overflow: hidden;
}

#container {
    width: 100%;
    max-width: 1200px; 
    /* 100% de lo que el padre (body) ha conseguido teniendo en cuenta q body tiene un padding.Solo funciona si el padre les ha dejado espacio físico real */
    height: 100%;
    background: linear-gradient(to top, #f7797d, #FBD786, #C6FFDD); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(198, 198, 198);
    padding: 10px, 20px;
}

.header {
    display: flex;
    justify-content: flex-end;
    
    & .curriculum{
        background-color: #f1f1f1;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px 10px;
        text-decoration: none;
        color: rgb(144, 142, 142);
        font-size: 14px;

        &:hover{
            background-color: #8b8b8b;
            color: #f1f1f1;
            transition: 8s;
        }
    }
}

.main {
    display:flex; 
    
    & .info {
        flex-grow: 1;
        height: 100%;

        & .saludo{
            font-size: 25px;
            color: #f7797d;
        }

        & .nombre{
            font-size: 48px;
            color:#1e1e1e;
        }

        & .profesion{
            font-size: 18px;
            color:#1e1e1e;
        }
/* si eres el hijo 1 ponte verde */
            & span:nth-child(1){
                color: green
            }
/* si eres el hijo 2 ponte violeta */
            & span:nth-child(2){
                color: violet
            }

        & .descripcion{
        }
    }

    }
    
    & .foto {
        height:100%;
        flex-grow: 1;

        $ img {
            width: 100%;
            /* al hacer el borde del mismo color del body  */
            border: 15 px solid #f1f1f1;
            height: 100%;
            background-color: #8b8b8b;
        }
    }

}





