html {
  font-size: 16;
  font-family: sans-serif;
  background-color: rgb(183, 183, 183);
}

body {
  display: flex;
  justify-content: center;

  height: 100vh;
  padding: 20px;
}

#container {
    width: 100%;
    max-width: 1200px; 
    /* 100% de lo que el padre ha conseguido teniendo en cuenta q body tiene un padding solo funcionan si el padre les ha dejado espacio físico real */
    height: 100%;
    background: linear-gradient(to top, #f7797d, #FBD786, #C6FFDD); 
    border-radius: 0 0 10px;
    box-shadow: 0 0 10px rgb(198, 198, 198);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: flex-end;
    

    & .curriculum{
        background-color: #f1f1f1;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px 10px;
        text-decoration: none;
        color: rgb(144, 142, 142);
        font-size: 14px;

        &:hover{
            background-color: #8b8b8b;
            color: #f1f1f1;
            transition: 8s;
        }
    }
}

.main {
    display:flex; 
    
    & .info {
        flex-grow: 1;
        height: 100%;

    }
    
    & .foto {
        flex-grow: 1;
        height:100%;
    }

}





